/* COMMON START */

*{
	box-sizing: border-box;
}

.card {
	font-family: arial;
	font-size: 20px;
  color: black;
  background-color: white;
	margin: 100px auto;
	width: 70%;
}

a{
	color: #000
}

.main-block{
	border: 1px solid #ccc;
}

.inner-wrapper{
	position: relative;
	padding: 35px 20px 35px;
}

.hidden-example{
	display: none;
}

/* COMMON END */

/*---------------*/

/* HEADERS START */

.theme-block{
	position: absolute;
	right: 10px;
	top: 5px;
	color: #737373;
	font-size: 15px;
}

.sense-block{
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 14px;
}

.sense-span{
	color: #00529B;
}

.pos-header{
	margin-left: 5px;
	text-transform: capitalize;
}

.trans-header{
	margin-left: 5px;
}

/* HEADERS END */

/*---------------*/

/* QUESTION BLOCK START */


.question-wrap{
	margin-bottom: 20px;
}

/* QUESTION BLOCK END */

/*---------------*/

/* MORE INFO START */

.word-info-wrap{
	margin: 20px 0px;
	font-size: 17px
}

.word-info-wrap span{
	margin-right: 10px;
	padding: 5px;
	background: rgb(204, 204, 204, .5)
}

/* MORE INFO END */

/*---------------*/

/* BUTTONS START */

.word-button-wrap{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.button-audio, .button-video{
	width: 100%;
	border: 1px solid #A1A6BC;
}

.button-audio{
	margin-right: 10px;
}
.button-video{
	margin-left: 10px;
}

.button-video a{
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	padding-left: 10px;
}

.replay-button{
	width: 100%;
	height: 100%;
}

.wrapper-audio{
	display: block;
	min-height: 45px;
}

/* BUTTONS END */

/*-------------*/

/*OTHER START*/


.after-buttons{
	margin-top: 20px;
}

.main-example span{
	color: #00529B;
}

.word-answer{
	color: #00529B;
	font-size: 30px;
}

.random-pronoun{
	color: #00529B;
}

/*---- OTHER END ----*/


.input-wrap{
  display: flex;
  align-items: center;
  gap: 10px; /* расстояние между input и иконкой */
}

.copy-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-inner-wrap{
	width: 100%;
}

/*---- CONDITION BLOCK START ----*/

.condition_block .condition{
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 18px;
}
.condition_block .condition_name{
	font-size: 18px;
	color: #737373;
}

 /*---- CONDITION BLOCK END ----*/

/*---- REVIEW RESULT BLOCK START ----*/

.review{
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 18px;
}

.review_name{
	color: #737373;
}
.review_result_block, review_text_block, .style_suggestions, .grammar_errors, .explanation_of_text, .sent_text, .correct_version {
	display: none;
}
.style_suggestions ul, .grammar_errors ul{
	margin: 8px 0;
}
/*---- REVIEW RESULT BLOCK END ----*/
