/*

TABLE OF CONTENTS:

- COMMON
- HEADERS
- MORE INFO
- BUTTONS
- IMAGE BLOCK
- SENTENCE TYPING CARD
- OTHER

*/


/* COMMON START */

* {
	box-sizing: border-box;
}

.card {
	font-family: arial;
	font-size: 20px;
	color: black;
	background-color: white;
	margin: 100px auto;
	width: 70%;
}

#typeans {
    line-height: 1;
}

a {
	color: #000
}

.basic-block {
	border: 1px solid #ccc;
}

.basic-block-inner-wrapper {
	position: relative;
	padding: 35px 20px 35px;
}

.hidden-example {
	display: none;
}

/* COMMON END */

/*---------------*/

/* HEADERS START */

.theme-block {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #737373;
	font-size: 15px;
}

.sense-block {
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 14px;
}

.sense-span {
	color: #00529B;
	margin-right: 5px;
}

.sense-span:empty {
    margin-right: 0;
}

.pos-span {
	text-transform: capitalize;
}

.trans-span {
	margin-left: 5px;
}

/* HINTS IN HEADERS START */

.definition-front-content .pos-span {
	margin-right: 10px;
}

.definition-back-content .pos-span {
	margin-right: 10px;
}

.typing-front-content .pos-span {
    margin-right: 10px;
}

.typing-back-content .trans-span {
    margin-right: 10px;
}

.hide-hints-span{
    color: #0000;
    background: #ccc;
}

/* HINTS IN HEADERS END */

/* HEADERS END */

/* MORE INFO START */

.word-info-block {
	margin: 20px 0px;
	font-size: 17px
}

.word-info-block span {
	margin-right: 10px;
	padding: 5px;
	background: rgb(204, 204, 204, .5)
}

.word-info-block span:empty {
    display: none;
}

/* MORE INFO END */

/* BUTTONS START */

.button-block {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.button-audio-block, .button-video-block {
	width: 100%;
	border: 1px solid #A1A6BC;
}

.button-audio-block {
	margin-right: 10px;
}
.button-video-block {
	margin-left: 10px;
}

.button-video-block a {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	padding-left: 10px;
}

.replay-button {  /* anki object */
	width: 100%;
	height: 100%;
}

.audio-span {
	display: block;
	min-height: 45px;
}

/* BUTTONS END */

/*---- IMAGE BLOCK START ----*/

.basic-block-image {
    margin-top: 22px;
}

.img-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}
.img-block img {
	width: 200px;
}

.img-caption {
    position: absolute;
    padding: 4px 8px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
    letter-spacing: 1px;
}

/*---- IMAGE BLOCK END ----*/

/*---- SENTENCE TYPING CARD START ----*/

.input-block {
    display: flex;
    align-items: center;
    gap: 10px; /* расстояние между input и иконкой */
}

.copy-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-inner-block {
	width: 100%;
}

.condition-block .condition {
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 18px;
}
.condition-block .condition-name {
	font-size: 18px;
	color: #737373;
}

.review {
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 18px;
}

.review-name {
	color: #737373;
}
.review-result-block, review-text-block, .style-suggestions, .grammar-errors, .explanation-of-text, .sent-text, .correct-version {
	display: none;
}
.style-suggestions ul, .grammar-errors ul {
	margin: 8px 0;
}

/*---- SENTENCE TYPING CARD END ----*/

/*OTHER START*/

.hr-after-button-block {
	margin-top: 20px;
}

.main-example-span span {
	color: #00529B;
}

.word-span {
	color: #00529B;
	font-size: 30px;
}

.word-block, .word-in-main-example-block {
	margin-bottom: 20px; /* DEFINITION BACK; WORD FRONT & BACK */
}

/*---- OTHER END ----*/
